
*.pyc
*.db
*.log
*.log.*
*~      
.*
*.cpython-36.pyc
*.cpython-311.pyc
*/__pycache__/

html/                
htmlcov/          
coverage/                  
build/              
dist/        
*.egg-info/            
MANIFEST          
                                       
bin/              
include/            
lib/                                  
local/
venv/
venv*/                                                                        
random/
venv3.7/
env/
!.gitignore
!.travis.yml
*.env
**/**/migrations/0*.py
**/migrations/0*.py
class_management/migrations/
admission/migrations/
**/logs/*.log
pe_backend/logs/api.log
pe_backend/logs/*
media/*
pe_backend/media/*
pe_backend/static/*
pe_backend/settings/local_settings.py

celerybeat-schedule
db.sqlite3
server.sh
dump.rdb

